@charset "utf-8";

.bg {
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    background: linear-gradient(121.28deg, #A4006C 0%, #FFECA8 100%), linear-gradient(121.28deg, #69003F 0%, #FFF8F8 100%), linear-gradient(238.72deg, #00FFFF 0%, #0212A4 100%), radial-gradient(67.16% 100% at 50% 0%, #FF00B8 0%, #FFFFFF 100%), linear-gradient(140.54deg, #7000FF 0%, #001AFF 72.37%), linear-gradient(307.43deg, #FFE927 0%, #00114D 100%), radial-gradient(107% 142.8% at 15.71% 104.5%, #FFFFFF 0%, #A7AA00 100%), #FFFFFF;
    background-blend-mode: overlay, difference, difference, overlay, difference, difference, difference, normal;
}

.blurE {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    position: relative;
}

.card {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#header {
    width: 100%;
    /* height: 150px; */
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header h1 {
    text-align: center;
}

#header h1 a {
    padding: 5px 20px;
    display: inline-block;
    font-family: "EB-Garamond", "Sans-serif";
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    color: #fff;
}

#test {
    height: 100%;
    /* margin-top: 100px; */
}

#test h2 {
    padding: 0px 20px 50px 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0px 0px 10px 10px;
    display: block;
    font-family: "EB-Garamond", "Sans-serif";
    font-size: 80px;
    font-weight: 200;
    color: #555;
    text-shadow: 0 2px 4px rgb(13 0 77 / 8%), 0 3px 6px rgb(13 0 77 / 8%), 0 8px 16px rgb(13 0 77 / 8%);
}

#test .testList {
    width: 100%;
    height: 100%;
    padding: 130px 0px 50px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#test .testList li a{
    display: block;
    position: relative;
}

#test .testList li a::before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background: linear-gradient(to bottom, #19b7f0, #1763e1);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: -85px;
    transform: translateX(-50%);
    transition: all 0.4s;
}

#test .testList li:nth-child(1) a::before {
    margin: 0px;
    padding: 0px;
    content: "1";
    color: #fff;
    font-size: 30px;
    line-height: 0px;
    font-size: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#test .testList li:nth-child(2) a::before {
    margin: 0px;
    padding: 0px;
    content: "2";
    color: #fff;
    font-size: 30px;
    line-height: 0px;
    font-size: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#test .testList li:nth-child(3) a::before {
    margin: 0px;
    padding: 0px;
    content: "3";
    color: #fff;
    font-size: 30px;
    line-height: 0px;
    font-size: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#test .testList li:nth-child(4) a::before {
    margin: 0px;
    padding: 0px;
    content: "4";
    color: #fff;
    font-size: 30px;
    line-height: 0px;
    font-size: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#test .testList li:nth-child(5) a::before {
    margin: 0px;
    padding: 0px;
    content: "5";
    color: #fff;
    font-size: 30px;
    line-height: 0px;
    font-size: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#test .testList li a:hover::before {
    transform: translate(-50%, -7px);
}

#dock {
    padding: 30px 0px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#dock .inner {
    width: 600px;
}

#dock .dockList {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#dock .dockList li {
    /* margin: 0px 25px; */
}

#dock .dockImg {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    transition: all 0.4s;
}

#dock .dockImg img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#dock .dockList li a h3 {
    padding-top: 10px;
    display: block;
    font-family: 'NanumSquare', "Sans-Serif";
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    text-align: center;
}

#dock .dockList li a:hover .dockImg{
    transform: translateY(-7px);
}