@charset "utf-8";
        br.none {
            display: none;
        }


        /* header 영역 */
        #header {
            padding: 1.302083333333333%;
            /* padding: 50px; */
        }

        #header .inner {
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #header h1 a {
            padding: 10px 50px;
            display: block;
            font-size: 3.125rem;
            /* font-size: 50px; */
            color: #fff;
            background: #000;
            text-align: center;
            border-radius: 10px;
            transition: color 0.3s, background 0.3s;
        }

        #header h1 a:hover {
            color: #000;
            background: #ddd;
        }

        #header .gnb {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #header .gnb li {
            padding: 0 10px;
            /* padding: 0px 30px; */
        }

        #header .gnb li a {
            padding: 10px 20px;
            /* padding: 0px 30px; */
            display: block;
            font-size: 1.25rem;
            /* font-size: 20px; */
            transition: color 0.3s, background 0.3s;
        }

        #header .gnb li a:hover {
            color: #fff;
            background: #000;
        }

        /* mainVisual 영역 */
        #mainVisual {
            /* max-width: 3440px; */
            /* width: 100%; */
            /* height: 960px; */
            position: relative;
        }

        #mainVisual .mv {
            width: 100%;
            /* height: 960px; */
            /* position: relative; */
        }

        #mainVisual .mv li {
            width: 100%;
            height: 100vh;
        }

        #mainVisual .mv li.mv1 {
            background: url("../images/main_banner_12.jpg") no-repeat center center;
            background-size: cover;
        }

        #mainVisual .mv li.mv2 {
            background: url("../images/main_banner_0_1.jpg") no-repeat center center;
            background-size: cover;
        }

        #mainVisual .mv li.mv3 {
            background: url("../images/main_banner_12.jpg") no-repeat center center;
            background-size: cover;
        }

        #mainVisual .mv li.mv4 {
            background: url("../images/main_banner_0_1.jpg") no-repeat center center;
            background-size: cover;
        }

        #mainVisual .owl-dots {
            position: absolute;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            bottom: 125px;
        }

        #mainVisual .owl-dots .owl-dot {
            background: rgba(255, 255, 255, 0.5);
            width: 30px;
            height: 5px;
            display: inline-block;
            margin: 0 5px;
            border: 0
        }

        #mainVisual .owl-dots .owl-dot.active {
            background: rgba(255, 255, 255, 1)
        }

        #mainVisual .owl-nav {
            position: absolute;
            width: 100%;
            bottom: 50%
        }

        #mainVisual .owl-nav .owl-prev {
            width: 40px;
            height: 30px;
            position: absolute;
            left: 10%;
            transform: translateX(-10%);
            font-size: 14px;
            color: #fff;
            border-top: 1px solid #fff;
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            padding-top: 5px;
            text-align: center;
            background-color: transparent;
            cursor: pointer;
        }

        #mainVisual .owl-nav .owl-next {
            width: 40px;
            height: 30px;
            position: absolute;
            right: 10%;
            transform: translateX(-10%);
            font-size: 14px;
            color: #fff;
            border-top: 1px solid #fff;
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            padding-top: 5px;
            text-align: center;
            background-color: transparent;
            cursor: pointer;
        }

        #schedule {}

        #schedule .inner {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            z-index: 999;
        }

        #schedule .container {
            background: linear-gradient(to right, #B79987 0%, #8B5B2F 100%);
            /* padding: 1%; */
        }

        #schedule .container dl {
            padding: 20px 40px;
            color: rgba(255, 255, 255, 0.9);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #schedule .container dl dt .left {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #schedule .container dl dt .left svg {
            margin-right: 10px;
        }

        #schedule .container dl dt p {
            font-size: 24px;
        }

        #schedule .container dl .right1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #schedule .container dl .right1 dd {
            padding: 0px 50px;
        }

        @media all and (min-width:1025px) and (max-width:1200px) {
            #schedule .inner {
                left: 0;
                bottom: 0;
                width: 90%;
                /* width: 80%; */
            }

            #schedule .container dl .right1 dd {
                padding: 0px 20px;
            }
        }

        /* tablet */
        @media all and (min-width:769px) and (max-width:1024px) {
            #header h1 a {
                padding: 10px 25px;
                font-size: 1.5625rem;
                /* font-size: 25px; */
            }

            #mainVisual .mv {
                width: 100%;
            }

            #mainVisual .mv li {
                /* width: 100%; */
                /* height: calc(100vh - 300px); */
                object-fit: cover;
                background-size: cover;
            }
        }

        #sNull {
            padding: 100%;
            background: dodgerblue;
        }