@charset "utf-8";

#header {
    width: 100%;
}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    font-size: 50px;
    font-weight: 700;
}

#header .gnb {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .gnb li {
    padding: 0px 30px;
}

#a1 {
    padding-bottom: 540px;
    width: 100%;
    border-bottom: 5px solid #ffe200;
}

#a1 .center {
    margin-top: 100px;
    padding: 300px 500px;
    display: block;
    background: url("../images/raghav-verma-KusC_XP46Ds-unsplash.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.folderE {
    -webkit-animation: 1s linear both;
    animation: folderEffect 1s linear both;
}

@keyframes folderEffect {
    0% {
        width: 80%;
    }

    100% {
        width: 100%;
    }
}

#a1 img {
    display: inline-block;
    width: 100%;
    font-size: 0px;
    line-height: 0px;
}

#a2 {
    width: 100%;
    height: 100%;
}

#a2 .inner {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#a2 .introTitle {
    margin-right: -42px;
    align-self: center;
}

#a2 .introTitle h2 {
    font-size: 30px;
}

#a2 .introTitle h3 {
    font-size: 100px;
    font-weight: 900;
}

#a2 .introBox {
    width: 600px;
    height: 600px;
    position: relative;
    z-index: -1;
}

#a2 .introBox::before {
    content: "";
    height: 100px;
    border-left: 5px solid #ffe200;
    position: absolute;
    left: 0px;
    top: -100px;
}

#a2 .introBox .imgBox {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 3;
}

#a2 .introBox .imgBox img {
    display: block;
    width: 100%;
    height: 100%;
}

#a2 .introBox .blueBox {
    width: 500px;
    height: 500px;
    background: #ffe200;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}

#a2 .introBox .blackBox {
    width: 500px;
    height: 500px;
    background: #020c1e;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

#a2 .introDesc {
    margin-left: 42px;
    align-self: flex-end;
}

#a2 .introDesc dl dt {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
}

#a2 .introDesc dl dd {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
}